$sz-red: #ac000e;

.va {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
$light-100: #ffffff;
$light-200: #f7f9fc;
$light-300: #edf1f7; // APP BG COLOR
$light-400: #e4e9f2;
$light-500: #c5cee0;
$light-600: #8f9bb3;
$light-700: #2e3a59;
$light-800: #222b45;
$light-900: #1a2138;
$light-950: #151a30;
$text-shadow: 0px 2px 4px rgba(2, 1, 24, 0.466);
$shadow-small: 0px 2px 2px rgba(77, 69, 226, 0.25);
$shadow-medium: 0px 4px 4px rgba(2, 1, 24, 0.25);
$shadow-large: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);

button {
  font-family: hypatia-sans-pro, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #ac000e;
}

hr {
  background-color: #ac000e !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: hypatia-sans-pro, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 450px) {
  button.zero-btn {
    margin-top: 2rem;
  }
}
.zero-btn {
  background: rgba(255, 44, 62, 0.4);
  border: 1px solid #ac000e;
  color: ghostwhite;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  padding: 1.25rem 2rem !important;
  transition: 250ms;
  &:hover {
    background: #ac000e;
    border-color: #972730 !important;
    color: ghostwhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  &.patreon {
    background: rgba(249, 104, 84, 0.4);
    border: 1px solid #f96854;
    &:hover {
      background: #f96854;
      border-color: #f96854;
    }
  }
}

@media only screen and (max-width: 450px) {
  .zero-btn {
    margin-top: 1rem;
  }
}
